<!-- <mat-card class="example-card" *ngFor="let appointment of appointments">
    <mat-card-title-group>
        <mat-card-title>{{appointment.name}}</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
    </mat-card-content>
    <mat-icon matSuffix>delete</mat-icon>
</mat-card> -->


<!-- <mat-form-field class="form-field">
    <mat-select placeholder="City" name="appointment" [(ngModel)]="appointment">
        <mat-option *ngFor="let appointment of appointments" [value]="appointment.name">{{appointment.name}}
        </mat-option>
    </mat-select>
</mat-form-field> -->

<!-- <mat-option *ngFor="let appointment of appointments">{{appointment.name}}
</mat-option> -->